<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="fragments/layout">
<body>
<div layout:fragment="page-content" th:remove="tag">
    <script type="text/x-handlebars" data-template-name="application">
     <header clas="site-head">
        <div class="vertical">
            <div class="site-head-content inner">
                <h1 class="blog-title">{{blogTitle}}</h1>
                <h2 class="blog-description">{{blogDescription}}</h2>
            </div>
        </div>
    </header>
    <main class="content">
        {{#foreach}}
            <article class="post-preview">
                {{title}} at {{date}}
            </article>
        {{/foreach}}
        <nav class="pagination">

        </nav>
    </main>
    <footer class="site-footer">
        <div class="inner">
            <section class="copyright">

            </section>
            <section class="powered-by">

            </section>
        </div>
    </footer>

    </script>
</div>
</body>
</html>