<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="fragments/layout">
<body>
<div layout:fragment="page-content" th:remove="tag">
    <script type="text/x-handlebars" data-template-name="application">
    <header class="main-header">
        <h1>{{applicationTitle}}</h1>
    </header>
    <div class="content">
        {{outlet}}
    </div>
    <footer class="main-footer">
        CopyLefts: {{applicationTitle}}
    </footer>
    </script>
    <script type="text/x-handlebars" data-template-name="index">
        {{hello}}
    </script>
</div>
</body>
</html>